@media only screen and (min-width: 360px) and (max-width: 768px) {

    #Container {

        height: 100%;
        flex-direction: column;
        
    }
	
    #Title {
        font-size: 2rem;
    }

    #Text {
        font-size: 1rem;
        line-height: normal;
    }

    #Subtitle {
        font-size: 2rem;
        line-height: normal;
    }

}